@import "tailwindcss";

:root {
  --color-primary: #1cf8c8;
  --color-sub-primary: #117892;
  --color-text: #222222;

  --text-header-pc: 48px;
  --text-title-pc: 32px;
  --text-body-text-pc: 20px;
  --outline-pc: 54px;
  --inline-pc: 45px;

  --text-header-sp: 32px;
  --text-title-sp: 26px;
  --text-body-text-sp: 20px;
  --outline-sp: 28px;
  --inline-sp: 23px;

  --color-border: #1cf8c8;
}

body {
  font-family: "Be Vietnam Pro";
  background: #ffffff;
  color: var(--color-text);
  line-height: 1.2;
}

.bg-gradient-primary {
  background-image: linear-gradient(-150deg, #1cf8c8 -40%, #117892 100%);
}

.bg-gradient-header {
  background-image: linear-gradient(to right, #FEF8FF36, #FEF8FF00);
  border-radius: 107px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);  
}

.bg-gradient-menu {
  background-image: linear-gradient(to right, #FEF8FF36, #FEF8FF00);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);  
}

@media screen and (min-width: 300px) and (max-width: 574px) {
}

@media screen and (min-width: 575px) and (max-width: 767) {
}

@media screen and (min-width: 768) and (max-width: 959) {
}

@media screen and (min-width: 960) and (max-width: 1023) {
}

@media screen and (min-width: 1024) and (max-width: 1367) {
}

@media screen and (min-width: 1368) and (max-width: 1920) {
}

@media screen and (min-width: 1921) and (max-width: 4096) {
}
