@import "tailwindcss";

:root {
  --color-primary: #1cf8c8;
  --color-sub-primary: #117892;
  --color-text: #222222;

  --text-header-pc: 48px;
  --text-title-pc: 32px;
  --text-body-text-pc: 20px;
  --outline-pc: 54px;
  --inline-pc: 45px;

  --text-header-sp: 32px;
  --text-title-sp: 26px;
  --text-body-text-sp: 20px;
  --outline-sp: 28px;
  --inline-sp: 23px;

  --color-border: #1cf8c8;
}

body {
  font-family: "Be Vietnam Pro";
  background: #ffffff;
  color: var(--color-text);
  line-height: 1.2;
}

.bg-gradient-primary {
  background-image: linear-gradient(-150deg, #1cf8c8 -40%, #117892 100%);
}

.bg-gradient-header {
  background-image: linear-gradient(to right, #FEF8FF36, #FEF8FF00);
  border-radius: 107px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);  
}

/* Button primary */
.primary-button-custom {
  position: relative;
  background: linear-gradient(-150deg, #1cf8c8 -40%, #117892 100%);
  border: none;
  border-radius: 50px;
  padding: 10px 28px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 10px 25px rgba(139, 92, 246, 0.3);
  overflow: hidden;
  text-align: center;
}

.primary-button-custom:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 35px rgba(139, 92, 246, 0.4);
}

.primary-button-custom:hover::before {
  left: 100%;
}

@media screen and (min-width: 300px) and (max-width: 574px) {
}

@media screen and (min-width: 575px) and (max-width: 767) {
}

@media screen and (min-width: 768) and (max-width: 959) {
}

@media screen and (min-width: 960) and (max-width: 1023) {
}

@media screen and (min-width: 1024) and (max-width: 1367) {
}

@media screen and (min-width: 1368) and (max-width: 1920) {
}

@media screen and (min-width: 1921) and (max-width: 4096) {
}
